<div class="login span5">
  
  <% if flash[:alert] %>
    <div class="alert alert-error">
      <%= flash[:alert] %>
    </div>
  <% end %>
  
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class:'form-horizontal well'}) do |f| %>
    <fieldset>
      <legend>Sign in</legend>
      
      <div class="control-group">
        <%= f.label :email, class: 'control-label' %>
        <div class="controls"><%= f.email_field :email, autocomplete: :off %></div>
      </div>
      
      <div class="control-group">
        <%= f.label :password, class: 'control-label' %>
        <div class="controls"><%= f.password_field :password, autocomplete: :off %></div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox" for="user_remember_me">
              <%= f.check_box :remember_me %> Remember me
            </label>
          </div>
        </div>
      <% end -%>

      <div class="control-group">
        <%= f.submit "Sign in", class: 'btn btn-primary' %>
      </div>
      
      <%= render :partial => "devise/shared/links" %>
      
    </fieldset>
  <% end %>

</div>

