<%= header_with_search 'Accounts' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Type</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.number, client_account_path(account) %></td>
        <td><%= link_to account.name, client_account_path(account) %></td>
        <td<%= account.balance < 0 ? ' class=red' : '' %>>&pound; <%= account.balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @accounts %>

