<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Client</legend>
    
    <div class="control-group">
      <%= f.label :firstname, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :firstname, autocomplete: :off, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :lastname, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :lastname, autocomplete: :off, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :country, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :country, autocomplete: :off, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :city, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :city, autocomplete: :off, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address, autocomplete: :off, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, autocomplete: :off, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :telephone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :telephone, autocomplete: :off, :class => 'text_field' %>
      </div>
    </div>
    
    <% if action_name == 'new' or action_name == 'create' %>
      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password, autocomplete: :off, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password_confirmation, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password_confirmation, autocomplete: :off, :class => 'text_field' %>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
