<%= render 'common/flashes' %>
<h1 style="margin-bottom: 20px;">Customer details</h1>

<p>
  <b>Name</b><br>
  <%= @user.firstname %> <%= @user.lastname %>
</p>

<p>
  <b>Email</b><br>
  <%= @user.email %>
</p>

<p>
  <b>Country</b><br>
  <%= @user.country %>
</p>

<p>
  <b>City</b><br>
  <%= @user.city %>
</p>

<p>
  <b>Address</b><br>
  <%= @user.address %>
</p>

<p>
  <b>Telephone</b><br>
  <%= @user.telephone %>
</p>

<p>
  <b>Joined on</b><br>
  <%= pretty_date @user.created_at %>
</p>

<p>
  <b>Sign in count</b><br>
  <%= @user.sign_in_count %>
</p>

<p>
  <b>Last signed in on</b><br>
  <%= pretty_date @user.last_sign_in_at || 'Never' %>
</p>

<p>
  <b>Last signed in from (IP)</b><br>
  <%= @user.last_sign_in_ip %>
</p>

<% unless @user.accounts.blank? %>
  <h3>Customer accounts</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Account nunber</th>
        <th>Type</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <% @user.accounts.each do |acc| %>
        <tr>
          <td><%= link_to acc.number, user_account_path(@user, acc) %></td>
          <td><%= acc.name %></td>
          <td><%= number_to_money acc.balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="form-actions">
  <%= link_to 'Back', users_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
  <%= link_to 'Delete', user_path(@user), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
