<h1>/Transaction</h1>

<p>
  <b>Account</b><br>
  <%= @transaction.account_id %>
</p>

<p>
  <b>Amount</b><br>
  <%= @transaction.amount %>
</p>

<p>
  <b>Transaction type</b><br>
  <%= @transaction.transaction_type %>
</p>

<div class="form-actions">
  <%= link_to 'Back', transactions_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_transaction_path(@transaction), :class => 'btn' %>
  <%= link_to 'Delete', transaction_path(@transaction), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
