<h1 style="margin-bottom: 20px;">Account <%= @account.number %></h1>

<p>
  <b>Account owner</b><br>
  <%= link_to "#{@account.user.firstname} #{@account.user.lastname}", user_path(@account.user) %>
</p>

<p>
  <b>Account Type</b><br>
  <%= @account.name %>
</p>

<p>
  <b>Balance</b><br>
  &pound; <%= @account.balance %>
</p>

<div class="form-actions">
  <%= link_to 'Back', accounts_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_account_path(@account), :class => 'btn' %>
  <%= link_to 'Delete', account_path(@account), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
