<%= render 'common/flashes' %>
<h1 style="margin-bottom: 20px;">Account <%= @account.number %></h1>

<%= render 'common/statement_form' %>

<p>
  <b>Account owner</b><br>
  <%= link_to "#{@account.user.firstname} #{@account.user.lastname}", user_path(@account.user) %>
</p>

<p>
  <b>Account Type</b><br>
  <%= @account.name %>
</p>

<p>
  <b>Balance</b><br>
  <span><%= number_to_money @account.balance %></span>
</p>

<h3>Recent Transactions</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Overdraft cost</th>
      <th>Initiator</th>
    </tr>
  </thead>
  <tbody>
    <% @account.transactions.order('created_at desc').limit(5).each do |t| %>
      <tr>
        <td><%= pretty_date t.created_at %></td>
        <td><%= t.transaction_type %></td>
        <td><%= number_to_money t.amount.abs %></td>
        <td><%= number_to_money t.balance %></td>
        <td><%= t.overdraft_cost > 0 ? number_to_money(t.overdraft_cost) : '&mdash;'.html_safe %></td>
        <td><%= t.initiator %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Deposit funds', new_account_transaction_path(@account, type: :deposit), class: 'btn btn-primary' %>
  <%= link_to 'Withdraw funds', new_account_transaction_path(@account, type: :withdrawal), class: 'btn btn-primary' %>
  <%= link_to 'Back', accounts_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_account_path(@account), :class => 'btn' %>
  <%= link_to 'Delete', account_path(@account), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
